:root {
  --main-color: #fff;
  --second-color: #3f4352;
  --second-soft-color: #8b919e;
  --third-color: #ee4e39;
  --main-font-family: "DM Sans", sans-serif;
  --second-font-family: "Space Grotesk", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500&family=Space+Grotesk:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--main-font-family);
  text-decoration: none;
}

body {
  background-color: var(--main-color);
}

button {
  color: var(--second-color);
  font-family: var(--second-font-family);
}

h1,
h2,
h3,
h4 {
  color: var(--second-color);
}

h5,
h6 {
  color: var(--second-soft-color);
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 16px;
}
